html(lang='en')
  head
    meta(charset='utf-8')
    title BF Virtues {% block title %}{% endblock title %}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Benjamin Franklins\'s 13 Virtues. In an app.')
    meta(name='author', content='Alex Rattray, Dan Getelman')

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')

    block styles
      link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|EB+Garamond'
        rel='stylesheet'
        type='text/css')
      link(href='/media/css/bootstrap.min.css', rel='stylesheet')
      //- link(href='/media/css/bootstrap-theme.min.css', rel='stylesheet')
      link(href='/media/css/style.css', rel='stylesheet')

  body
    .bfrank-img-wrapper
      img(src='/media/img/benfranklindoor_pennapps.svg')

    #wrap
      .container
        block content

    #footer
      .container
        p.text-muted.credit Built at PennApps Fall 2013 by&nbsp;
          a(href='https://twitter.com/dget') Dan Getelman
          |  and
          a(href='http://alexrattray.com') Alex Rattray
          | .&nbsp;
          a(href='#about_modal'
            data-toggle='modal') About

      .modal.fade(id='about_modal')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button"
                data-dismiss="modal"
                aria-hidden="true") &times;
              h4.modal-title From &nbsp;
                em The Autobiography
            .modal-body
              p It was about this time I conceiv'd the bold and arduous project of arriving at moral perfection. I wish'd to live without committing any fault at any time; I would conquer all that either natural inclination, custom, or company might lead me into. As I knew, or thought I knew, what was right and wrong, I did not see why I might not always do the one and avoid the other. But I soon found I had undertaken a task of more difficulty than I had imagined. While my care was employ'd in guarding against one fault, I was often surprised by another; habit took the advantage of inattention; inclination was sometimes too strong for reason. I concluded, at length, that the mere speculative conviction that it was our interest to be completely virtuous, was not sufficient to prevent our slipping; and that the contrary habits must be broken, and good ones acquired and established, before we can have any dependence on a steady, uniform rectitude of conduct. For this purpose I therefore contrived the following method.
              p In the various enumerations of the moral virtues I had met with in my reading, I found the catalogue more or less numerous, as different writers included more or fewer ideas under the same name. Temperance, for example, was by some confined to eating and drinking, while by others it was extended to mean the moderating every other pleasure, appetite, inclination, or passion, bodily or mental, even to our avarice and ambition. I propos'd to myself, for the sake of clearness, to use rather more names, with fewer ideas annex'd to each, than a few names with more ideas; and I included under thirteen names of virtues all that at that time occurr'd to me as necessary or desirable, and annexed to each a short precept, which fully express'd the extent I gave to its meaning.
              p These names of virtues, with their precepts, were:
              p
                ol(style='line-height:2;')
                  li
                    span.lead Temperance.
                    em.text-muted &nbsp; Eat not to dullness; drink not to elevation.
                  li
                    span.lead Silence.
                    em.text-muted &nbsp; Speak not but what may benefit others or yourself; avoid trifling conversation.
                  li
                    span.lead Order.
                    em.text-muted &nbsp; Let all your things have their places; let each part of your business have its time.
                  li
                    span.lead Resolution.
                    em.text-muted &nbsp; Resolve to perform what you ought; perform without fail what you resolve.
                  li
                    span.lead Frugality.
                    em.text-muted &nbsp; Make no expense but to do good to others or yourself; i.e., waste nothing.
                  li
                    span.lead Industry.
                    em.text-muted &nbsp; Lose no time; be always employ'd in something useful; cut off all unnecessary actions.
                  li
                    span.lead Sincerity.
                    em.text-muted &nbsp; Use no hurtful deceit; think innocently and justly, and, if you speak, speak accordingly.
                  li
                    span.lead Justice.
                    em.text-muted &nbsp; Wrong none by doing injuries, or omitting the benefits that are your duty.
                  li
                    span.lead Moderation.
                    em.text-muted &nbsp; Avoid extremes; forbear resenting injuries so much as you think they deserve.
                  li
                    span.lead Cleanliness.
                    em.text-muted &nbsp; Tolerate no uncleanliness in body, cloaths, or habitation.
                  li
                    span.lead Tranquillity.
                    em.text-muted &nbsp; Be not disturbed at trifles, or at accidents common or unavoidable.
                  li
                    span.lead Chastity.
                    em.text-muted &nbsp; Rarely use venery but for health or offspring, never to dullness, weakness, or the injury of your own or another's peace or reputation.
                  li
                    span.lead Humility.
                    em.text-muted &nbsp; Imitate Jesus and Socrates.
              p My intention being to acquire the habitude of all these virtues, I judg'd it would be well not to distract my attention by attempting the whole at once, but to fix it on one of them at a time; and, when I should be master of that, then to proceed to another, and so on, till I should have gone thro' the thirteen; and, as the previous acquisition of some might facilitate the acquisition of certain others, I arrang'd them with that view, as they stand above. Temperance first, as it tends to procure that coolness and clearness of head, which is so necessary where constant vigilance was to be kept up, and guard maintained against the unremitting attraction of ancient habits, and the force of perpetual temptations. This being acquir'd and establish'd, Silence would be more easy; and my desire being to gain knowledge at the same time that I improv'd in virtue, and considering that in conversation it was obtain'd rather by the use of the ears than of the tongue, and therefore wishing to break a habit I was getting into of prattling, punning, and joking, which only made me acceptable to trifling company, I gave Silence the second place. This and the next, Order, I expected would allow me more time for attending to my project and my studies. Resolution, once become habitual, would keep me firm in my endeavors to obtain all the subsequent virtues; Frugality and Industry freeing me from my remaining debt, and producing affluence and independence, would make more easy the practice of Sincerity and Justice, etc., etc. Conceiving then, that, agreeably to the advice of Pythagoras in his Golden Verses, daily examination would be necessary, I contrived the following method for conducting that examination.
              p I made a little book, in which I allotted a page for each of the virtues. I rul'd each page with red ink, so as to have seven columns, one for each day of the week, marking each column with a letter for the day. I cross'd these columns with thirteen red lines, marking the beginning of each line with the first letter of one of the virtues, on which line, and in its proper column, I might mark, by a little black spot, every fault I found upon examination to have been committed respecting that virtue upon that day.
              p I determined to give a week's strict attention to each of the virtues successively. Thus, in the first week, my great guard was to avoid every the least offence against Temperance, leaving the other virtues to their ordinary chance, only marking every evening the faults of the day. Thus, if in the first week I could keep my first line, marked T, clear of spots, I suppos'd the habit of that virtue so much strengthen'd and its opposite weaken'd, that I might venture extending my attention to include the next, and for the following week keep both lines clear of spots. Proceeding thus to the last, I could go thro' a course compleat in thirteen weeks, and four courses in a year. And like him who, having a garden to weed, does not attempt to eradicate all the bad herbs at once, which would exceed his reach and his strength, but works on one of the beds at a time, and, having accomplish'd the first, proceeds to a second, so I should have, I hoped, the encouraging pleasure of seeing on my pages the progress I made in virtue, by clearing successively my lines of their spots, till in the end, by a number of courses, I should be happy in viewing a clean book, after a thirteen weeks' daily examination.

              p This my little book had for its motto these lines from Addison's Cato:
              blockquote.
                "Here will I hold. If there's a power above us
                (And that there is all nature cries aloud
                Thro' all her works), He must delight in virtue;
                And that which he delights in must be happy."

              p Another from Cicero,
              blockquote.
                "O vitae Philosophia dux! O virtutum indagatrix expultrixque vitiorum! Unus dies, bene et ex praeceptis tuis actus, peccanti immortalitati est anteponendus."

              p Another from the Proverbs of Solomon, speaking of wisdom or virtue:
              blockquote.
                "Length of days is in her right hand, and in her left hand riches and honour. Her ways are ways of pleasantness, and all her paths are peace." iii. 16, 17.

              p And conceiving God to be the fountain of wisdom, I thought it right and necessary to solicit his assistance for obtaining it; to this end I formed the following little prayer, which was prefix'd to my tables of examination, for daily use.
              blockquote.
                "O powerful Goodness! bountiful Father! merciful Guide! increase in me that wisdom which discovers my truest interest! strengthen my resolutions to perform what that wisdom dictates. Accept my kind offices to thy other children as the only return in my power for thy continual favors to me."

              p I used also sometimes a little prayer which I took from Thomson's Poems, viz.:
              blockquote.
                "Father of light and life, thou Good Supreme!
                O teach me what is good; teach me Thyself!
                Save me from folly, vanity, and vice,
                From every low pursuit; and fill my soul
                With knowledge, conscious peace, and virtue pure;
                Sacred, substantial, never-fading bliss!"

              p The precept of Order requiring that every part of my business should have its allotted time, one page in my little book contain'd the following scheme of employment for the twenty-four hours of a natural day:
              blockquote: em.text-muted (Not Shown)

              p I enter'd upon the execution of this plan for self-examination, and continu'd it with occasional intermissions for some time. I was surpris'd to find myself so much fuller of faults than I had imagined; but I had the satisfaction of seeing them diminish. To avoid the trouble of renewing now and then my little book, which, by scraping out the marks on the paper of old faults to make room for new ones in a new course, became full of holes, I transferr'd my tables and precepts to the ivory leaves of a memorandum book, on which the lines were drawn with red ink, that made a durable stain, and on those lines I mark'd my faults with a black-lead pencil, which marks I could easily wipe out with a wet sponge. After a while I went thro' one course only in a year, and afterward only one in several years, till at length I omitted them entirely, being employ'd in voyages and business abroad, with a multiplicity of affairs that interfered; but I always carried my little book with me.






            .modal-footer
              button.btn.btn-default(type="button"
                data-dismiss="modal") Close

      .modal.fade(id='virtues_modal')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button"
                data-dismiss="modal"
                aria-hidden="true") &times;
              h4.modal-title Franklin's &nbsp;
                em Virtues
            .modal-body
              p
                ol(style='line-height:2;')
                  li
                    span.lead Temperance.
                    em.text-muted &nbsp; Eat not to dullness; drink not to elevation.
                  li
                    span.lead Silence.
                    em.text-muted &nbsp; Speak not but what may benefit others or yourself; avoid trifling conversation.
                  li
                    span.lead Order.
                    em.text-muted &nbsp; Let all your things have their places; let each part of your business have its time.
                  li
                    span.lead Resolution.
                    em.text-muted &nbsp; Resolve to perform what you ought; perform without fail what you resolve.
                  li
                    span.lead Frugality.
                    em.text-muted &nbsp; Make no expense but to do good to others or yourself; i.e., waste nothing.
                  li
                    span.lead Industry.
                    em.text-muted &nbsp; Lose no time; be always employ'd in something useful; cut off all unnecessary actions.
                  li
                    span.lead Sincerity.
                    em.text-muted &nbsp; Use no hurtful deceit; think innocently and justly, and, if you speak, speak accordingly.
                  li
                    span.lead Justice.
                    em.text-muted &nbsp; Wrong none by doing injuries, or omitting the benefits that are your duty.
                  li
                    span.lead Moderation.
                    em.text-muted &nbsp; Avoid extremes; forbear resenting injuries so much as you think they deserve.
                  li
                    span.lead Cleanliness.
                    em.text-muted &nbsp; Tolerate no uncleanliness in body, cloaths, or habitation.
                  li
                    span.lead Tranquillity.
                    em.text-muted &nbsp; Be not disturbed at trifles, or at accidents common or unavoidable.
                  li
                    span.lead Chastity.
                    em.text-muted &nbsp; Rarely use venery but for health or offspring, never to dullness, weakness, or the injury of your own or another's peace or reputation.
                  li
                    span.lead Humility.
                    em.text-muted &nbsp; Imitate Jesus and Socrates.

            .modal-footer
              button.btn.btn-default(type="button"
                data-dismiss="modal") Close

    #javascript_div
      script(src='/media/js/jquery.min.js')
      script(src='/media/js/bootstrap.min.js')
      block js
