extends base

block content
  .page-header
    h1.text-center Temperance
  p.lead.text-center.
    Eat not to dullness; drink not to elevation.
  //- p This is less important information.
  table.table.table-bordered
    thead
      tr
        th
        for weekday in weekdays
          th.text-center {{ weekday.letter }}
    tbody
      for virtue in virtues
        tr
          td.text-center
            span.popper(
              data-placement='right'
              title='{{ virtue.name }}'
              data-content='{{ virtue.description }}')
              | {{ virtue.name.0 }}
          for weekday in weekdays
            td.checkbox.text-center(
              data-weekday='{{ weekday.letter }}'
              data-virtue='{{ virtue.name }}'
              )



block js
  script(src='/media/js/app.js')

